/* Global styles
------------------------------------*/
body {
  font-family: 'Encode Sans Condensed', sans-serif;
}
a {
  color: #EF233C;
  font-family: 'Droid Sans', sans-serif;
}
a:hover {
  text-decoration: none;
}


/* Header & Footer
------------------------------------*/
header,
footer {
  background: #2B2D42;
  color: #8D99AE;
}
header h1,
header h2 {
  color: #EDF2F4;
}


/* Work Experience
------------------------------------*/
.work {
  background: #EDF2F4;
}


/* Education
------------------------------------*/
.education {
  background: #8D99AE;
}
