/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles 
------------------------------------*/
body {
    background: lightblue;
}
a{
  color: #EF233C;
}
a:hover{
  text-decoration: none;
}
/* Header & Footer 
------------------------------------*/

head, footer{
  background-color: #2B2D42;
  color: #8D99AE;
}
header h1, header h2 {
  color: #EDF2F4;
}
/* Work Experience
------------------------------------*/
.work{
  background: #EDF2F4;
}


/* Education
------------------------------------*/
.education{
  background: #8D99AE;
}