/* Global style 
=========================*/
section h2{
  color: blue
}
a{
  background: rgba(128, 0, 128, 0.57);
  padding: 6px;
}
a:link{
  color: white;
}
a:visited{
  background: #00ff00;
}
/* Header style 
==========================*/
a:active{
  border: 1px solid black;
}
a:hover{
  background: none;
}
p:hover{
  background: white;
}
a:focus{
  outline: 1px solid black;
}