/* Global styles
------------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
  
}
a {
  color: #EF233C;
}
a:hover {
  text-decoration: none;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 50px;
}



/* Header & Footer
------------------------------------*/
header,
footer {
  background: #2B2D42;
  color: #8D99AE;
  text-align: center;
}
.contact-info a{
  background: white;
  padding: 40px;
  display: inline-block;
}
header h1,
header h2 {
  color: #EDF2F4;
}


/* Work Experience
------------------------------------*/
.work {
  background: #EDF2F4;
}


/* Education
------------------------------------*/
.education {
  background: #8D99AE;
}
