p{
  background-color: rgba(223, 30, 30, 0.52)
}
a{
  background-color: #1877B6;
  padding: 5px 10px;
  margin: 4em;
}
.work{
}
.content-wrap{
  width: 300px;
  background-color: lightblue;
  margin: 0 auto;
}